.updateBlock {
  width: 100%;
  padding: 1rem 2rem;

  .buttonsBlock {
    display: flex;
    justify-content: flex-end;

    .button {
      border-radius: 2rem;
      padding: 1rem 2rem;
    }

    .button + .button {
      margin-left: 1rem
    }
  }

}